@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* antialised */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Define o tamanho, cor e fonte dos títulos */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; /* tamanho da fonte */
    font-weight: bold; /* espessura da fonte */
  }
  
  /* Define as propriedades específicas de cada tag de título */
  h1 {
    font-size: 2.5rem; /* tamanho da fonte */
  }
  
  h2 {
    font-size: 2rem; /* tamanho da fonte */
  }
  
  h3 {
    font-size: 1.75rem; /* tamanho da fonte */
  }